@import 'base/lists';

#logo {
    width: 8%;
    padding-bottom: .5rem;
    margin-right: 0.5rem;
}


/* .navb{ 
    margin: 0;
    padding: 0;
} 

.navb2 {
    margin: 0;
    padding: 0;
} */

.navbarbar {
    background-color: nth($colors, 4);
}
