@import '../base/lists';

#quienes {
    background-image: url(../../images/background1.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;

   /* .carda {
       
        
    }*/
}  

