@import '../base/lists';



.side-buttons {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 80rem;
    margin-top: 15rem;
    position: fixed;
    z-index: 1;
    
    
    #elevator {
        width: 2.5rem;
        background-color: nth($colors, 4);
        margin-bottom: 0.5rem;
    }
    
    .logo-wpp {
        color: nth($colors, 4);
        font-size: 3rem;
    }
    
    
}